In [1]:
from dreye import read_json, write_json

In [2]:
import pandas as pd
import numpy as np

In [3]:
filename = 'test_data/test_df.json'

In [4]:
df = pd.DataFrame(
    np.random.random((50, 50)), 
    index=pd.MultiIndex.from_arrays(
        [np.arange(50), np.arange(50, 100)], names=['a', 'b']
    ),
    columns=pd.MultiIndex.from_arrays(
        [np.arange(50), np.arange(50, 100)], names=['a', 'b']
    )
)

In [5]:
df[('extra')] = 'c'

In [6]:
df[('extra1', 'extra2')] = 'd'

In [7]:
write_json(filename, df)
df_ = read_json(filename)

In [9]:
df_.head()

,a,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,extra,extra1
,b,50,51,52,53,54,55,56,57,58,59,...,92,93,94,95,96,97,98,99,,extra2
a,b,,,,,,,,,,,,,,,,,,,,,
0,50,0.666071,0.152926,0.824624,0.655878,0.683304,0.868221,0.418078,0.705634,0.761563,0.589910,...,0.813091,0.501330,0.129968,0.095632,0.973198,0.310747,0.163358,0.885480,c,d
1,51,0.144466,0.197962,0.405515,0.579699,0.532256,0.134731,0.326895,0.650557,0.589290,0.213623,...,0.886452,0.489134,0.078291,0.716847,0.983676,0.787739,0.359047,0.693311,c,d
2,52,0.806842,0.510120,0.412236,0.481507,0.857580,0.219249,0.555774,0.287831,0.397782,0.184879,...,0.650049,0.608183,0.244093,0.391210,0.487493,0.130687,0.262882,0.802260,c,d
3,53,0.047935,0.786642,0.078208,0.915346,0.805407,0.404520,0.578127,0.076069,0.756005,0.916459,...,0.059677,0.670213,0.763962,0.584614,0.491686,0.389219,0.173277,0.626633,c,d
4,54,0.958971,0.931529,0.919670,0.321856,0.387161,0.851622,0.760685,0.449199,0.487351,0.362549,...,0.728772,0.992543,0.472549,0.134465,0.735804,0.620160,0.702276,0.864608,c,d

In [10]:
df.head()

,a,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,extra,extra1
,b,50,51,52,53,54,55,56,57,58,59,...,92,93,94,95,96,97,98,99,,extra2
a,b,,,,,,,,,,,,,,,,,,,,,
0,50,0.666071,0.152926,0.824624,0.655878,0.683304,0.868221,0.418078,0.705634,0.761563,0.589910,...,0.813091,0.501330,0.129968,0.095632,0.973198,0.310747,0.163358,0.885480,c,d
1,51,0.144466,0.197962,0.405515,0.579699,0.532256,0.134731,0.326895,0.650557,0.589290,0.213623,...,0.886452,0.489134,0.078291,0.716847,0.983676,0.787739,0.359047,0.693311,c,d
2,52,0.806842,0.510120,0.412236,0.481507,0.857580,0.219249,0.555774,0.287831,0.397782,0.184879,...,0.650049,0.608183,0.244093,0.391210,0.487493,0.130687,0.262882,0.802260,c,d
3,53,0.047935,0.786642,0.078208,0.915346,0.805407,0.404520,0.578127,0.076069,0.756005,0.916459,...,0.059677,0.670213,0.763962,0.584614,0.491686,0.389219,0.173277,0.626633,c,d
4,54,0.958971,0.931529,0.919670,0.321856,0.387161,0.851622,0.760685,0.449199,0.487351,0.362549,...,0.728772,0.992543,0.472549,0.134465,0.735804,0.620160,0.702276,0.864608,c,d

In [11]:
series = df.iloc[:, 0]

In [12]:
series.head()

a  b
0  50    0.666071
1  51    0.144466
2  52    0.806842
3  53    0.047935
4  54    0.958971
Name: (0, 50), dtype: float64

In [14]:
write_json(filename, series)
series_ = read_json(filename)

In [16]:
series_.head()

a  b
0  50    0.666071
1  51    0.144466
2  52    0.806842
3  53    0.047935
4  54    0.958971
Name: (0, 50), dtype: float64

In [18]:
df2 = pd.DataFrame(
    np.random.random((5, 5)), 
    index=['a', 'a', 'b', 'c', 'b'], 
    columns=pd.MultiIndex.from_arrays(
        [['a', 'a', 'c', 'c', 'c'], [0, 1, 0, 1, 2]], 
    )
)

In [19]:
df2['extra'] = 4

In [20]:
df2['extra1'] = 'e'

In [23]:
df2.head()

          a                   c                     extra extra1
          0         1         0         1         2
a  0.175616  0.164150  0.091968  0.924907  0.888453     4      e
a  0.713194  0.326673  0.194323  0.413573  0.774128     4      e
b  0.979791  0.769908  0.984669  0.630103  0.574074     4      e
c  0.565722  0.088378  0.739375  0.644224  0.900565     4      e
b  0.854707  0.709484  0.273224  0.836817  0.949492     4      e

In [21]:
write_json(filename, df2)
df2_ = read_json(filename)

In [22]:
df2_.head()

          a                   c                     extra extra1
          0         1         0         1         2
a  0.175616  0.164150  0.091968  0.924907  0.888453     4      e
a  0.713194  0.326673  0.194323  0.413573  0.774128     4      e
b  0.979791  0.769908  0.984669  0.630103  0.574074     4      e
c  0.565722  0.088378  0.739375  0.644224  0.900565     4      e
b  0.854707  0.709484  0.273224  0.836817  0.949492     4      e